* {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--text-color);
}

body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

:root {
    --background-color: rgb(250, 250, 250);
    --blue: rgb(0, 122, 255);
    --gray: rgb(142, 142, 147);
    --gray-2: rgb(174, 174, 178);
    --gray-4: rgb(209, 209, 214);
    --gray-5: rgb(229, 229, 234);
    --gray-6: rgb(242, 242, 247);
    --accent-color: rgb(0, 122, 255);
    --text-color: #000000;
}

#badge {
    display: none;
    position: relative;
    width: 2000px;
    height: 3150px;
    padding: 0;
}

#badge svg {
    width: 100%;
    height: 100%;
}

#badge h1 {
    position: absolute;
    left: 195px;
    bottom: 1020px;
    color: black;
    font-size: 300px;
    max-width: 1650px;
}

header h2 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: var(--gray);
    padding-left: 25px;
}

.nomargintop {
    margin-top: 0;
}

.buttondiv h2 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: var(--gray);
    padding-left: 25px;
}

header h1 {
    margin-top: -10px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 25px;
}

#badgefinal {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin: 0;
    max-width: 550px;
    border: 1px var(--gray-5) solid;
}

.imgcontainer {
    width: calc(100vw - 50px);
}

body {
    background-color: var(--background-color);
    max-width: 650px;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:600px) {
    body {
        margin-left: calc((100vw - 600px) / 2);
        margin-right: calc((100vw - 600px) / 2);
    }
    #loading {
        margin-left: calc((100vw - 600px) / 2);
        margin-right: calc((100vw - 600px) / 2);
    }
}

.buttondiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 15px;
}

.bigbutton {
    margin: 25px 25px 25px 25px;
    width: fill-available;
    height: 50px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 8px;
}

.secondary {
    color: var(--accent-color);
    background-color: #ffffff00;
}

.medbutton {
    margin: 10px 0px 10px 0px;
    width: calc(50% - 10px);
    height: 50px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 8px;
}

.createbadge {
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.textinput {
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-bottom: 20px;
    margin-right: 25px;
    padding-left: 15px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--gray-5);
    border: none;
    outline: none;
}

.black {
    color: var(--text-color);
}

.page {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#ready {
    display: none;
    margin-top: 40px;
}

#maindiv {
    display: flex;
}

.withmargin {
    margin: 0px 25px 10px 25px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(0, 0, 0);
        --gray: rgb(142, 142, 147);
        --gray-2: rgb(99, 99, 102);
        --gray-4: rgb(58, 59, 60);
        --gray-5: rgb(44, 44, 46);
        --gray-6: rgb(28, 28, 30);
        --accent-color: rgb(10, 132, 255);
        --text-color: #ffffff;
    }
}  